@{
    ViewData["Title"] = "Contact";
}
@*This is the home page. Here will have some kind of a nice looking image with clean and precise navigation.*@
<div class="container">
    <div class="jumbotron jumbotron-fluid desert-background">
        <h1>Contact Us</h1>
    </div>
    <div class="row text-center">
        <div class="col-3"></div>
        <div class="col-6">
            <h4>
                Please contact the Brigham Young University department of <a href="https://religion.byu.edu/departments">Ancient Scripture</a> and department of <a href="https://mmbio.byu.edu/">Molecular Biology</a> for more information.
            </h4>
        </div>
        <div class="col-3"></div>
    </div>
    <br />
    <br />
</div>


