@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*This page is for the database searching. (give options for using different all the different parameters in the database.*@

@model SearchDatabaseViewModel
<div class="pb-4 text-center">
    <div class="row">
        <div class="col-1">
            <partial name="CollapsedSearchMenu" model="Model.CurrentSearch" />
        </div>
        <div class="col-11">
            <div class="row">

                @foreach (var x in Model.Burials)
                {
                <div class="col-4 p-0 m-0">
                    <a asp-controller="Home" asp-action="Index" class="nav-link">
                        <div class="card text-center bg-white" style="width:100%" onclick="">
                            <div class="card-body row">
                                <div class="col-5">
                                    <h6 class="card-title">
                                        Mummy Location
                                    </h6>
                                    <h6 class="card-subtitle mb-2 text-muted"><small>Orientation: <i>West</i> </small></h6>
                                    <h6 class="card-subtitle mb-2 text-muted"><small> Depth: <i>Yeehaw</i></small></h6>
                                    <br />
                                </div>
                                <div class="col-7">
                                    <div class="row">
                                        <container class="col-6">
                                            <h6 class="byu-text small">Hair Color: <p class="card-text small">Brown</p></h6>
                                            <h6 class="byu-text small">Wrapping:<p class="card-text small">yes?</p></h6>
                                            <h6 class="byu-text small">Gender:<p class="card-text small">Male</p></h6>
                                        </container>
                                        <container class="col-6">
                                            <h6 class="byu-text small">Age: <p class="card-text small">Child</p></h6>
                                            <h6 class="byu-text small">Bone: <p class="card-text small">600</p></h6>
                                            <h6 class="byu-text small">Items: <p class="card-text small">3 stuff</p></h6>
                                        </container>
                                    </div>
                                </div>
                                <div class="container my-2">
                                    <form>
                                        <form asp-action="GetUpdateMummy" method="get">
                                            <input type="hidden" name="mummyid" value="@x.BurialId" />
                                            <button type="submit">Update</button>
                                        </form>
                                    
                                        <form asp-action="GetUpdateMummy" method="post">
                                            <input type="hidden" name="mummyid" value="@x.BurialId" />
                                            <button type="submit">Delete</button>
                                        </form>
                                    </form>
                                </div>
                            </div>
                            
                        </div>
                    </a>
                    
                </div>
                    
                }

            </div>
        </div>
    </div>
    <div page-model="@Model.PagingInfo" page-action="DatabaseSearch" page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-info" class="btn-group pull-right m-1"></div>
</div>


