@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*This page is for the database searching. (give options for using different all the different parameters in the database.*@
<div class="row">
    <div class="col-1">
        <partial name="CollapsedSearchMenu" />
    </div>
        <div class="col-11">
            <div class="row">
                <div class="col-4 p-0 m-0">
                    <partial name="Burial_Summary" />
                </div>
                <div class="col-4 p-0 m-0">
                    <partial name="Burial_Summary" />
                </div>
                <div class="col-4 p-0 m-0">
                    <partial name="Burial_Summary" />
                </div>
                <div class="col-4 p-0 m-0">
                    <partial name="Burial_Summary" />
                </div>
            </div>
        </div>
    </div>


