@{
    ViewData["Title"] = "Home Page";
}
@*This is the home page. Here will have some kind of a nice looking image with clean and precise navigation.*@
<div class="container">
    <div class="jumbotron jumbotron-fluid desert-background">
        <h1>Fag el-Gamaous</h1>
        <h5>Discoverys and insights from a Graeco-Roman Cemetery</h5>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4 text-center">
            <div class="w-100 align-content-center">
                
                    <h3><a asp-area="" asp-controller="Home" asp-action="DatabaseSearch" class="byu-text hyperlink">Database Search</a></h3>
                    <p>Our database includes the blah bal balOur database includes the blah bal balOur database includes the blah bal balOur database includes the blah bal balOur database includes the blah bal balOur database includes the blah bal bal</p>
                
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-4 text-center">
            <div class="w-100 align-content-center">         
                <h3><a asp-area="" asp-controller="Home" asp-action="MummyAnalytics" class="byu-text hyperlink">Data Analytics</a></h3>
                <p>Our data analytics includes the blah bal balOur database includes the blah bal balOur database includes the blah bal balOur database includes the blah bal balOur database includes the blah bal balOur database includes the blah bal bal</p>              
            </div>
        </div>
    </div>
    <br />
    <br />
</div>

