@{
    ViewData["Title"] = "Home Page";
}
@*This is the home page. Here will have some kind of a nice looking image with clean and precise navigation.*@
<div class="container">
    <div class="jumbotron jumbotron-fluid desert-background">
        <h1>Fag el-Gamaous</h1>
        <h5>Discoverys and insights from a Graeco-Roman Cemetery</h5>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4 text-center">
            <div class="w-100 align-content-center">
                
                    <h3><a asp-area="" asp-controller="Home" asp-action="DatabaseSearch" class="byu-text hyperlink">Database Search</a></h3>
                    <p>Fag El-Gamous researchers have kept detailed records on the burials that have been excavated. This database tool allows members of the public to search for specific burials using a detailed search function, and view full burial data.</p>
                
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-4 text-center">
            <div class="w-100 align-content-center">         
                <h3><a asp-area="" asp-controller="Home" asp-action="Contact" class="byu-text hyperlink">Contact</a></h3>
                <p>Our researchers are very passionate about the work that they do at the Fag El-Gamous Graeco-Roman Cemetery. If you have any questions, comments, or insights about the excavation project, please reach out to our managing researchers for more information about the project.</p>              
            </div>
        </div>
    </div>
    <br />
    <br />
</div>

