@model FagElGamousDatabaseByLocation

<div class="content-holder-main">

    <table cellspacing="0" border="0" id="ctl00_ContentPlaceHolder1_FormView1" style="border-collapse:collapse;">
        <tbody>
            <tr>
                <td colspan="2">
                    <div class="content-holder-main">
                        <table class="style1">
                            <tbody>
                                <tr>
                                    <th colspan="3">
                                        <h5>Basic Mummy Info:</h5>
                                    </th>
                                </tr>
                                <tr>
                                    <td class="style8">
                                        <b>Burial ID:</b>
                                    </td>
                                    <td class="style7">
                                        <span id="ctl00_ContentPlaceHolder1_FormView1_TextileBurialLabel">N 324 E 823 SW #5</span>
                                    </td>
                                    <td class="style9">
                                        <b>Orientation </b>
                                    </td>
                                    <td>
                                        <span id="ctl00_ContentPlaceHolder1_FormView1_Estimate_DateLabel">Headed out west</span>
                                    </td>
                                    <td>
                                        <b>Depth:</b>
                                    </td>
                                    <td>
                                        <span id="ctl00_ContentPlaceHolder1_FormView1_DirectionLabel">6 feet under</span>
                                    </td>
                                    <td>
                                        <b>Hair Color:</b>
                                    </td>
                                    <td>
                                        <span id="ctl00_ContentPlaceHolder1_FormView1_DirectionLabel">Black</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style9">
                                        <b>Items</b>
                                    </td>
                                    <td>
                                        <span id="ctl00_ContentPlaceHolder1_FormView1_SampledLabel">Items Items Items Items</span>
                                    </td>
                                    <td class="style9">
                                        <b>Wrapping</b>
                                    </td>
                                    <td>
                                        <span id="ctl00_ContentPlaceHolder1_FormView1_SampledLabel">Wrapping Wrapping Wrapping</span>
                                    </td>

                                    <td class="style9">
                                        <b>Age</b>
                                    </td>
                                    <td>
                                        <span id="ctl00_ContentPlaceHolder1_FormView1_SampledLabel">Age</span>
                                    </td>
                                    <td class="style8">
                                        <b>Bone:</b>
                                    </td>
                                    <td class="style7">
                                        <span id="ctl00_ContentPlaceHolder1_FormView1_PhotographedLabel">Bone Stuff </span>
                                    </td>
                                </tr>

                                <tr>
                                    <td><br /></td>
                                </tr>
                                <tr>
                                    <th colspan="3">
                                        <h5>Field Book Information:</h5>
                                    </th>
                                </tr>
                                <tr>
                                    <td class="style8">
                                        <b>Field Book:</b>
                                    </td>
                                    <td class="style7">
                                        <span id="ctl00_ContentPlaceHolder1_FormView1_PhotographedLabel">Field Book Stuff</span>
                                    </td>
                                    <td class="style9">
                                        <b>Field Book Page #:</b>
                                    </td>
                                    <td>
                                        <span id="ctl00_ContentPlaceHolder1_FormView1_SampledLabel">Field Book Page #</span>
                                    </td>
                                    <td>
                                        <b>Initials of Data Entry Expert:</b>
                                    </td>
                                    <td>
                                        <span id="ctl00_ContentPlaceHolder1_FormView1_Scientific_TestingLabel">Initials of Data Entry Expert</span>
                                    </td>
                                    <td>
                                        <b>Initials of Data Entry Checker:</b>
                                    </td>
                                    <td>
                                        <span id="ctl00_ContentPlaceHolder1_FormView1_Scientific_TestingLabel">Initials of Data Entry Checker</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><br /></td>
                                </tr>
                                <tr>
                                    <th colspan="3">
                                        <h5>Catalague Information:</h5>
                                    </th>
                                </tr>
                                <tr>
                                    <td class="style8">
                                        <b>Rack and Shelf:</b>
                                    </td>
                                    <td class="style7">
                                        <span id="ctl00_ContentPlaceHolder1_FormView1_PhotographedLabel">Rack and Shelf</span>
                                    </td>
                                    <td class="style9">
                                        <b>Tomb:</b>
                                    </td>
                                    <td>
                                        <span id="ctl00_ContentPlaceHolder1_FormView1_SampledLabel">Tomb Stuff</span>
                                    </td>
                                    <td>
                                        <b>Square:</b>
                                    </td>
                                    <td>
                                        <span id="ctl00_ContentPlaceHolder1_FormView1_Scientific_TestingLabel">Square</span>
                                    </td>

                                    <td valign="top">
                                        <b>Locale:</b>
                                    </td>
                                    <td valign="top">
                                        <textarea name="ctl00$ContentPlaceHolder1$FormView1$LocaleLabel" rows="2" cols="20" readonly="readonly" id="ctl00_ContentPlaceHolder1_FormView1_LocaleLabel">140/150N 50/60E NW 22</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style8">
                                        <b>Year Excavated:</b>
                                    </td>
                                    <td class="style7">
                                        <span id="ctl00_ContentPlaceHolder1_FormView1_PhotographedLabel">Year Excavated Stuff</span>
                                    </td>
                                    <td class="style9">
                                        <b>BYU Sample:</b>
                                    </td>
                                    <td>
                                        <span id="ctl00_ContentPlaceHolder1_FormView1_SampledLabel">TRUE</span>
                                    </td>
                                    <td colspan="3">
                                        <table colspan="3">

                                            <tr colspan="3">
                                                <td class="style9" colspan="3"><strong>Burial West To Head:</strong></td>
                                                <td colspan="3">W 123</td>
                                            </tr>
                                            <tr colspan="3">
                                                <td class="style9" colspan="3"><strong>Burial West To Feet:</strong></td>
                                                <td colspan="3">W 123</td>
                                            </tr>
                                            <tr colspan="3">
                                                <td class="style9" colspan="3"><strong>Burial South To Head:</strong></td>
                                                <td colspan="3">S 123</td>
                                            </tr>
                                            <tr colspan="3">
                                                <td class="style9" colspan="3"><strong>Burial South To Feet:</strong></td>
                                                <td colspan="3">S 123</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td><br /></td>
                                </tr>
                                <tr>
                                    <th colspan="3">
                                        <h5>Physical Attributes:</h5>
                                    </th>
                                </tr>

                                <tr>
                                    <td class="style8">
                                        <b>Body Analysis:</b>
                                    </td>
                                    <td class="style7">
                                        <span id="ctl00_ContentPlaceHolder1_FormView1_PhotographedLabel">Body Analysis Stuff</span>
                                    </td>
                                    <td>
                                        <b>Skull Date:</b>
                                    </td>
                                    <td>
                                        <span id="ctl00_ContentPlaceHolder1_FormView1_Scientific_TestingLabel">Year on skull + Month on Skull + Date on skull</span>
                                    </td>
                                    <td class="style9">
                                        <b>Skull at Magazine:</b>
                                    </td>
                                    <td>
                                        <span id="ctl00_ContentPlaceHolder1_FormView1_SampledLabel">Skull At magazine</span>
                                    </td>
                                    <td>
                                        <b>Postcrania At Magazine:</b>
                                    </td>
                                    <td>
                                        <span id="ctl00_ContentPlaceHolder1_FormView1_Scientific_TestingLabel">Postcrania at Magazine</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style8">
                                        <b>Body Analysis:</b>
                                    </td>
                                    <td class="style7">
                                        <span id="ctl00_ContentPlaceHolder1_FormView1_PhotographedLabel">Body Analysis Stuff I guess</span>
                                    </td>
                                    <td class="style9">
                                        <b>Linear Hypoplasia Enamel:</b>
                                    </td>
                                    <td>
                                        <span id="ctl00_ContentPlaceHolder1_FormView1_SampledLabel">Linear Hypoplasia Enamel</span>
                                    </td>
                                    <td>
                                        <b>Temporal Mandibular Joine Osteoarthritis (TMJOA):</b>
                                    </td>
                                    <td>
                                        <span id="ctl00_ContentPlaceHolder1_FormView1_Scientific_TestingLabel">Temporal Mandibular Joint Osteoarthritis (TMJOA)</span>
                                    </td>

                                    <td>
                                        <b>Postcrania Trauma:</b>
                                    </td>
                                    <td>
                                        <span id="ctl00_ContentPlaceHolder1_FormView1_Scientific_TestingLabel">Trauma stuff</span>
                                    </td>

                                </tr>
                                <tr>
                                    <td><br /></td>
                                </tr>
                                <tr>
                                    <th colspan="3">
                                        <h5>Osteology/Archeological Notes:</h5>
                                    </th>
                                </tr>

                            <td><br /></td>
                            <tr>
                                <td class="style8" valign="top">
                                    <b>Notes 1</b>:
                                </td>
                                <td class="style7" valign="top">
                                    <textarea name="ctl00$ContentPlaceHolder1$FormView1$DescriptionLabel0" rows="2" cols="20" readonly="readonly" id="ctl00_ContentPlaceHolder1_FormView1_DescriptionLabel0" style="height:72px;"> Notes Notes Notes Notes Notes</textarea>
                                </td>
                                <td class="style8" valign="top">
                                    <b>Notes 2</b>:
                                </td>
                                <td class="style7" valign="top">
                                    <textarea name="ctl00$ContentPlaceHolder1$FormView1$DescriptionLabel0" rows="2" cols="20" readonly="readonly" id="ctl00_ContentPlaceHolder1_FormView1_DescriptionLabel0" style="height:72px;"> Notes Notes Notes Notes Notes</textarea>
                                </td>
                                <td class="style8" valign="top">
                                    <b>Notes 3</b>:
                                </td>
                                <td class="style7" valign="top">
                                    <textarea name="ctl00$ContentPlaceHolder1$FormView1$DescriptionLabel0" rows="2" cols="20" readonly="readonly" id="ctl00_ContentPlaceHolder1_FormView1_DescriptionLabel0" style="height:72px;"> Notes Notes Notes Notes Notes</textarea>
                                </td>
                                <td class="style8" valign="top">
                                    <b>Notes 4</b>:
                                </td>
                                <td class="style7" valign="top">
                                    <textarea name="ctl00$ContentPlaceHolder1$FormView1$DescriptionLabel0" rows="2" cols="20" readonly="readonly" id="ctl00_ContentPlaceHolder1_FormView1_DescriptionLabel0" style="height:72px;"> Notes Notes Notes Notes Notes</textarea>
                                </td>
                            </tr>
                            <tr>
                                <td class="style8" valign="top">
                                    <b>Notes 5</b>:
                                </td>
                                <td class="style7" valign="top">
                                    <textarea name="ctl00$ContentPlaceHolder1$FormView1$DescriptionLabel0" rows="2" cols="20" readonly="readonly" id="ctl00_ContentPlaceHolder1_FormView1_DescriptionLabel0" style="height:72px;"> Notes Notes Notes Notes Notes</textarea>
                                </td>
                                <td class="style8" valign="top">
                                    <b>Notes 6</b>:
                                </td>
                                <td class="style7" valign="top">
                                    <textarea name="ctl00$ContentPlaceHolder1$FormView1$DescriptionLabel0" rows="2" cols="20" readonly="readonly" id="ctl00_ContentPlaceHolder1_FormView1_DescriptionLabel0" style="height:72px;"> Notes Notes Notes Notes Notes</textarea>
                                </td>
                                <td class="style8" valign="top">
                                    <b>Notes 7</b>:
                                </td>
                                <td class="style7" valign="top">
                                    <textarea name="ctl00$ContentPlaceHolder1$FormView1$DescriptionLabel0" rows="2" cols="20" readonly="readonly" id="ctl00_ContentPlaceHolder1_FormView1_DescriptionLabel0" style="height:72px;"> Notes Notes Notes Notes Notes</textarea>
                                </td>
                                <td class="style8" valign="top">
                                    <b>Notes 8</b>:
                                </td>
                                <td class="style7" valign="top">
                                    <textarea name="ctl00$ContentPlaceHolder1$FormView1$DescriptionLabel0" rows="2" cols="20" readonly="readonly" id="ctl00_ContentPlaceHolder1_FormView1_DescriptionLabel0" style="height:72px;"> Notes Notes Notes Notes Notes</textarea>
                                </td>

                            </tr>
                            <tr>
                                <td class="style8" valign="top">
                                    <b>Notes 9</b>:
                                </td>
                                <td class="style7" valign="top">
                                    <textarea name="ctl00$ContentPlaceHolder1$FormView1$DescriptionLabel0" rows="2" cols="20" readonly="readonly" id="ctl00_ContentPlaceHolder1_FormView1_DescriptionLabel0" style="height:72px;"> Notes Notes Notes Notes Notes</textarea>
                                <td class="style8" valign="top">
                                    <b>Notes 10</b>:
                                </td>
                                <td class="style7" valign="top">
                                    <textarea name="ctl00$ContentPlaceHolder1$FormView1$DescriptionLabel0" rows="2" cols="20" readonly="readonly" id="ctl00_ContentPlaceHolder1_FormView1_DescriptionLabel0" style="height:72px;"> Notes Notes Notes Notes Notes</textarea>
                                </td>

                            </tr>


        </tbody>
    </table>
</div>
                </td>
            </tr>
        </tbody>
    </table>
<br>
<br>
<br>
</div>



