@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*This page will show analytics of the mummies in the system this is optional, so we will work on this page last. (if we get there)*@


<div><p>This page will show analytics of the mummies in the system this is optional, so we will work on this page last. (if we get there)</p></div>