@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div><form method="post" asp-action="CreateRole" asp-controller="Admin">
    <label name="roleName">Role Name:</label>
    <input name="roleName" id="roleName" type="text" />
    </form></div>
