@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<!--For Biological Samples Table-->
<!--
<form>
    <div>
        <div>
            <h2>
                Biological Samples
            </h2>
        </div>

        <div>
            <label asp-for="">Rack: </label>
            <input class="form-control" asp-for="" />
        </div>

        <div>
            <label asp-for="">Bag: </label>
            <input class="form-control" asp-for="" />
        </div>

        <div>
            <label asp-for="">Date: </label>
            <input class="form-control" asp-for="" />
        </div>

        <div>
            <label asp-for="">Previously Sampled: </label>
            <select class="form-control" id="PreviouslySampled" name="PreviouslySampled" asp-for="">
                <option value="Y">Yes</option>
                <option value="N">No</option>
            </select>
        </div>

        <div>
            <label asp-for="">Notes: </label>
            <input class="form-control" asp-for="" />
        </div>

        <div>
            <label asp-for="">Initials: </label>
            <input class="form-control" asp-for="" />
        </div>

    </div>
</form>

-->
