@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*This is for the confirmation of any mummy additions or updates that are made. Mummy will not be added to the database until the confirmation page is checked off by the researcher.*@


<div><p>This is for the confirmation of any mummy additions or updates that are made. Mummy will not be added to the database until the confirmation page is checked off by the researcher.</p></div>