@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*This is for the updating of mummy data (will be attached to an update button found in the database view)*@
<div><p>This is for the updating of mummy data (will be attached to an update button found in the database view)</p></div>



<div>
    <form>
        <!--For Primary Key Information and required info-->
        <div>

        </div>

        <!--For By Locaiton Table-->
        <div>

        </div>

        <!--For Carbon 14 Dating Table-->
        <div>

        </div>

        <!--For Biological Samples Table-->
        <div>
            <div>
                <h2>
                    Biological Samples
                </h2>
            </div>
             Rack 
             Bag 
             Low 
             High 
             NS 
             Low2 
             High2 
             EW 
             Area 
             Burial 
             Date 
             PreviouslySampled 
             Notes 
             Initials 
             Notes2 
        </div>

        <!--For Cranial Table-->
        <div>

        </div>

        <!--For By Locaiton Table-->
        <div>

        </div>
    </form>
</div>